<div class="container-fluid">
	<header class="bg-body-tertiary px-3">
		<div class="d-flex justify-content-start align-items-center flex-wrap">
			<div class="navbar navbar-expand me-auto">
				<div class="nav-item">
					<a class="navbar-brand fs-4" routerLink="/"><i class="bi bi-bag-check-fill fs-3"></i> Clothing Store</a>
				</div>
			</div>
			<form class="d-flex me-auto" role="research" #form="ngForm" (click)="sendResearch(form)">
				<input type="search" class="form-control" for="search" id="search" placeholder="Rechercher" ngModel
					   name="search"
					   #search="ngModel">
				<button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
			</form>
			<div class="navbar navbar-expand flex-wrap gap-4">
				<div class="d-flex justify-content-center align-items-center gap-1">
					<div class="nav-item">
						<a class="nav-link fs-4" routerLink="/account"><i class="bi bi-person"></i></a>
					</div>
					<div class="nav-item">
						<a class="nav-link fs-6" routerLink="/account">Compte</a>
					</div>
				</div>
				<form class="d-flex" (ngSubmit)="goToCart()">
					<button class="btn btn-outline-dark" type="submit">
						<i class="bi-cart-fill me-1"></i>
						Panier
						<span class="badge bg-dark text-white ms-1 rounded-pill">{{receivedMessage}}</span>
					</button>
				</form>
			</div>
		</div>
	</header>
	<router-outlet></router-outlet>
</div>
