
<div class="container mt-5" *ngIf="UserCurrent" >
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Edit Account</h2>
            <form (ngSubmit)="submitForm(f)" #f="ngForm">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="UserCurrent!.email" name="email" required>
              </div>
              <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" [(ngModel)]="UserCurrent!.firstName" name="firstName" required>
              </div>
              <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" [(ngModel)]="UserCurrent!.lastName" name="lastName" required>
              </div>
              <div class="form-group">
                <label for="dateOfBirth">Date of Birth:</label>
                <input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="UserCurrent!.dateOfBirth" name="dateOfBirth" required>
              </div>
              <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" class="form-control" id="phoneNumber" [(ngModel)]="UserCurrent!.phoneNumber" name="phoneNumber" required>
              </div>
              <div class="form-group">
                <label for="billingAddress">Billing Address:</label>
                <input class="form-control" id="billingAddress" [(ngModel)]="UserCurrent!.billingAdress" name="billingAddress" required>
              </div>
              <div class="form-group">
                <label for="deliveryAddress">Delivery Address:</label>
                <input class="form-control" id="deliveryAddress" [(ngModel)]="UserCurrent!.deliveryAdress" name="deliveryAddress" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
