<div class="row m-3">
	<h2>Liste des commandes</h2>
</div>
<table class="table text-center">
	<thead class="align-middle">
		<tr>
			<th>N° de commande</th>
			<th>Identifiant Client</th>
			<th>Client</th>
			<th>Date</th>
			<th>Status</th>
			<th>Détails</th>
		</tr>
	</thead>
	<tbody class="align-middle">
		<tr *ngFor="let order of ordersToDisplay">
			<td>{{order.orderId}}</td>
			<td>{{order.userId}}</td>
			<td>{{order.orderUser.fullName}}</td>
			<td>{{order.orderDate | date: "dd/MM/yyyy"}}</td>
			<td>{{order.status}}</td>
			<td><button class="btn btn-info" [routerLink]="['/orders', order.orderId]">Détails</button></td>
		</tr>
	</tbody>
</table>
