.infoPerso {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 3%;
}

.infoPerso p {

	margin-left: 3%;
}


.panel-admin button {

	width:100%;
}

.panel-admin .title-panel h1{
	text-align: center;
margin: 2%;}

.panel-admin .card {
	margin: 5px;
}
.panel-admin i {

	margin: 1px;
}