<div class="row text-center m-3">
	<h2>Se connecter</h2>
</div>
<section class="bg-body-tertiary">
	<div class="container pt-3">
		<div class="row justify-content-center align-items-center">
			<form class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-4 mb-3" #form="ngForm" (ngSubmit)="logintoAPI(emailAddress.value, password.value)">
				<div class="mb-3">
					<label for="userEmail" class="form-label"><strong>Email</strong></label>
					<input type="email" class="form-control" id="userEmail" required #emailAddress>
				</div>
				<div class="mb-3">
					<label for="userPassword" class="form-label"><strong>Mot de passe</strong></label>
					<input type="password" class="form-control" id="userPassword" required #password>
				</div>
				<div class="text-center mb-3">
					<button type="submit" class="btn btn-info w-100">Se connecter</button>
				</div>
				<div class="text-center">
					<a href="account/sign-up">Pas encore inscrit ? Cliquez ici pour créer un compte !</a>
				</div>
			</form>
		</div>
	</div>
</section>
